.small-toolbar-logo{
    max-width: 100px;
    max-height: 100px;
}
hr{
    border-top: 1px solid rgb(131, 105, 105);
  }

.mat-toolbar{
    background-color: #ffffff;
    height: auto;
}

.example-container {
    height: 80%;
}

.left-sidenav{
    min-width: 20%
}


.footer-new {
    padding: 4.375rem 2.8125rem 2.5rem;
}
.footer-new {
    padding: 2.8125rem 2.1875rem;
    background: #E9EAEC;
    text-align: center;
    position: relative;
}