<div class="example-container">
    <div class="example-container">
<h1>          <mat-label>New product</mat-label>
         </h1>
        <br>
   
    <mat-form-field appearance="fill">
      <mat-label>Name</mat-label>
      <input matInput>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
      <mat-label>Category</mat-label>
      <mat-select>
        <mat-option value="option">Option</mat-option>
      </mat-select>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
      <mat-label>Description of product</mat-label>
      <textarea matInput></textarea>
    </mat-form-field>
    <div class="example-container">
        <mat-form-field appearance="fill">
          <mat-label>Price</mat-label>
          <input matInput>
        </mat-form-field>
        <br>
        <div class="example-container">
            <mat-form-field appearance="fill">
              <mat-label>Rating</mat-label>
              <input matInput>
            </mat-form-field>
            <br>
            <button mat-raised-button color="accent">Save</button>
            <button mat-stroked-button color="accent">Back</button>

        </div>
  